<header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="navbar-brand alinea_derecha" href="#">
                    <img src="/Images/logo_mutualidad_abogacia.png" alt="Mutualidad de la Abogacía">
                </a>

                <a class="navbar-brand alinea_derecha" href="#">
                    <img src="/Images/club_privilegia.png" alt="programa Privilegia">
                </a>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Toggle para móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Mostrar navegación</span>
                    <span class="icon-envelope">
                        Menú
                    </span>
                </button>
            </div>
            <!-- -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Inicio <span class="sr-only">(activo)</span></a>
                    </li>

                    <!-- Partner -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Partners">Datos Partners</a></li>
                            <li><a href="/Productos">Productos</a></li>
                            <li><a href="/Publicidad">Publicidad</a></li>
                        </ul>
                    </li>

                    <!-- FICHEROS -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ficheros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/subidaArchivos">Subida Archivos</a></li>
                            <li><a>Incidencias</a></li>
                        </ul>
                    </li>

                    <!-- FACTURACION -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturacion <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/FacturacionPublicidad">F. Publicidad</a></li>
                            <li><a>F. Productos</a></li>
                        </ul>
                    </li>

                    <!-- INFORMES -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a >Partners</a></li>
                            <li><a href="/Informes/Publicidad">F. Publicidad</a></li>
                            <li><a>Producto</a></li>
                            <li><a>Premios por Producto</a></li>
                            <li><a>Premios por Mutualista</a></li>
                            <li><a>Operaciones</a></li>
                            <li><a>Comparativas</a></li>
                            <li><a>Comisiones</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

</header>
