@{
    ViewBag.Title = "InformePremiosMutualista";
}
<div class="row">
    <div class="col-md-12">
        <h2 align="center"><span class="glyphicon glyphicon-list"></span> Informe Premios por Mutualista</h2>
        <hr />
    </div>
</div>
<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="InformesPremiosMutualista" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Cif</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Premio</th>
                            <th>Fecha Carga</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="3" style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/AppJs/Privilegia.js")
    <script>
        var otable;

        $(function () {
            otable = $('#InformesPremiosMutualista')
                .DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                     'colvis','copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    autoWidth: false,
                    columns: [
                        { name: "NifProveed" },
                        { name: "CodigoCliente" },
                        { name: "CodigoPcto" },
                        {
                            name: "ComisionPago"
                            //"render": function(data, type, row) {
                            //    return data + " €";
                            //}
                        },
                        { name: "FechaDeCreacion" }
                        
                    ],
                    footerCallback: function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '.') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };


                        // Total over all pages
                        var total = api
                            .column(3)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);
                        // Update footer
                        $(api.column(3).footer()).html(total.toFixed(3) + '€');
                    },
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    }
                });

            yadcf.init(otable, [{
                column_number: 0

            }, {
                column_number: 1,
                filter_type: "auto_complete"

            }, {
                column_number: 2

            }, {
                column_number: 4,
                filter_type: "date",
                date_format: 'dd/mm/yyyy'
            }]);

        });

        function filterme() {

            $.ajax({
                type: "GET",
                url: "/Informes/CargarInformePremiosMutualista",
                data: { },
                success: function (data) {
                    if (data.iTotalDisplayRecords > 0) {
                        //botoncrearfactura
                        otable.clear();
                        otable.rows.add(data.aaData);
                        otable.draw();
                    } else {
                        otable.clear().draw();

                    }


                }
            });
        }

        $(document)
            .ready(function () {
                filterme(); 
            });

    </script>
}
